/*REGRAS XERAIS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  border-radius: 25% 50% 50% 25%;
}

ul {
  list-style: none;
}

body {
  height: 100hv;
}

html {
  font-size: 20px;
}

a:link,
a:hover,
a:visited {
  color: #004225;
  text-decoration: none;
}

/*CABECERA "CONTACTO"*/

BODY > header {
  background-color: black;
  padding: 1rem 0;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

ul {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

/*CABECERA "CONTACTO" MEDIAQUERY*/

@media (max-width: 900px) {
  BODY > header {
    font-size: 1rem;
  }

  ul {
    gap: 25px;
  }
}

/*BODY "CONTACTO"*/

#contact header h1 {
  font-size: 3rem;
  color: #004225;
  margin-bottom: 1rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*BODY "CONTACTO" MEDIAQUERY*/

@media (max-width: 650px) {
  #contact header h1 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.75rem;
  }
}
