/* REGLAS XERAIS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: violet;
}

/*CABECEIRA*/

nav ul {
  background-color: black;
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 300px;
  list-style-type: none;
}

li a,
p a {
  color: yellow;
}

a:link,
a:hover,
a:visited {
  text-decoration: none;
}

/*CORPO PRINCIPAL_sobre mi*/

section {
  width: 80vw;
  height: 70vh;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
article header {
  margin-bottom: 25px;
}
img {
  width: 300px;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}
header h3 {
  font-size: 1.5rem;
  font-style: oblique;
}
article {
  text-align: center;
}

article p {
  font-size: 1rem;
}
h4 a {
  font-weight: bold;
  color: yellow;
}

/*CORPO PRINCIPAL_contacto*/

#contact {
  margin: 0 auto;
  height: 70vh;
  width: 80vw;
  padding-top: 30px;
}
