/*REGRAS XERAIS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  border-radius: 25% 50% 50% 25%;
}

ul {
  list-style: none;
}

body {
  height: 100hv;
}

html {
  font-size: 20px;
}

a:link,
a:hover,
a:visited {
  color: #004225;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/*CABECERA*/

BODY > header,
footer {
  background-color: black;
  color: #004225;
  padding: 1rem 0;
  font-size: 1.5rem;
}

ul {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}
/*CABECERA MEDIAQUERY*/

@media (max-width: 900px) {
  BODY > header {
    font-size: 1rem;
  }

  ul {
    gap: 25px;
  }
}

/*CORPO PRINCIPAL*/

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  margin-top: 150px;
  padding-bottom: 100px;
}
figure {
  width: 300px;
}

article {
  text-align: center;
}

h1 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #004225;
}

h3 {
  font-size: 1rem;
  color: #004225;
  margin-bottom: 1rem;
}

/*CORPO PRINCIPAL MEDIAQUERY*/

@media (max-width: 900px) {
  h3 {
    font-size: 0.75rem;
  }
  h1 {
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }
  p {
    font-size: 0.75rem;
  }

  h4 {
    font-size: 0.75rem;
  }
  figure {
    width: 225px;
  }
  section {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

footer {
  text-align: center;
}
