* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url(/hamburguesa.png);
  background-size: cover;
}

legend {
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(3, 3, 99);
  margin-bottom: 20px;
  text-align: center;
}
fieldset {
  border: none;
}
h3 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: lighter;
  color: rgb(8, 14, 56);
  width: 100%;
}

label {
  font-size: 1.5rem;
  color: black;
  font-style: italic;
}
textarea {
  resize: none;
}
form {
  width: 80vw;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#personal,
#size {
  text-align: center;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

#delivery,
#pay {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

select {
  background-color: white;
  font-size: 25px;
  padding: 1rem 0.5rem;
  color: rgb(5, 5, 5);
  font-weight: bold;
  text-align: center;
}
button {
  background-color: rgb(5, 24, 85);
  font-size: 25px;
  color: rgb(247, 245, 245);
  font-weight: bold;
  padding: 10px 10px;
}
input {
  font-size: 1.5rem;
  padding: 1rem 0.25rem;
  outline: none;
}

@media (max-width: 600px) {
  legend {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.75em;
  }
  label {
    font-size: 1rem;
  }

  #personal,
  #size {
    gap: 10px;
    margin-bottom: 10px;
  }

  #delivery,
  #pay {
    gap: 10px;
    margin-bottom: 20px;
  }

  select {
    font-size: 20px;
  }
  button {
    font-size: 20px;

    padding: 5px 5px;
  }
}
