* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url(/hamburguesa.png);
  background-size: cover;
}

legend {
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(3, 3, 99);
  margin-bottom: 20px;
  text-align: center;
}
fieldset {
  border: none;
}
h3 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: lighter;
  color: aqua;
  width: 100%;
}

label {
  font-size: 1.5rem;
  color: black;
  font-style: italic;
}
textarea {
  resize: none;
}
form {
  width: 80vw;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#personal,
#size {
  text-align: center;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

#delivery,
#pay {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

select {
  background-color: white;
  font-size: 25px;
  color: blue;
  font-weight: bold;
  text-align: center;
}
button {
  background-color: rgb(7, 4, 179);
  font-size: 25px;
  color: rgb(247, 245, 245);
  font-weight: bold;
  padding: 10px 10px;
}
