* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 16px;
}
h1 {
  color: white;
  background-color: rgb(0, 255, 98);
  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 00.75rem;
}

h2 {
  color: rgb(0, 255, 98);
  font-size: 0.75rem;
  margin-left: 0.75rem;
  margin-bottom: 1rem;
}

ul {
  font-size: 0.6rem;
  list-style-type: lower-greek;
  list-style-position: inside;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

li {
  font-size: 0.5rem;
  margin-bottom: 0.25rem;
}

ul .importante {
  font-weight: bold;
  text-decoration: underline;
}
table {
  margin-left: 1.5rem;
}
thead th {
  background-color: rgb(0, 255, 98);
  font-size: 1rem;
  color: rgb(255, 255, 255);
  padding: 0.8rem;
}

tbody th:nth-child(even) {
  background-color: rgba(148, 238, 80, 100%);
  color: rgb(15, 15, 15);
  font-size: 0.8rem;
  padding: 0.6rem;
}

tbody tr:nth-child(even) th {
  background-color: rgba(100, 238, 80, 80%);
  color: rgb(15, 15, 15);
  font-size: 0.8rem;
  padding: 0.6rem;
}

tbody tr:nth-child(odd) th {
  background-color: rgba(200, 238, 80, 80%);
  color: rgb(15, 15, 15);
  font-size: 0.8rem;
  padding: 0.6rem;
}

tbody tr:nth-child(even) td {
  background-color: seagreen;
  color: black;
  font-size: 0.8rem;
}

tbody tr:nth-child(odd) td {
  background-color: rgb(7, 119, 56);
  color: black;
  font-size: 0.8rem;
}
